%h1 User Home

%p
  You are logged in.


%script(src="https://carolineartz.hackpad.com/Qarh9TIOo7s.js")
%noscript
  <div>View <a href="https://carolineartz.hackpad.com/Qarh9TIOo7s">Active Record: Query Interface</a> on Hackpad.</div>



