- require 'rails_autolink'

= link_to 'New Micropost', new_micropost_path
%br

%h1 Recent Shares
%div.resource-feed.row
  - @microposts.each do |post|
    %div.post-content
      = auto_link(post.content, :html => { :class => 'embedly-card', :target => '_blank' })
    %div.post-meta
      = image_tag(post.author.image_url)
      %br
      = post.author.first_name
    %hr




-# %table
-#   %tr
-#     %th Content
-#     %th User
-#     %th
-#     %th
-#     %th

-#   - @microposts.each do |micropost|
-#     %tr
-#       %td= micropost.content
-#       %td= micropost.user_id
-#       %td= link_to 'Show', micropost
-#       %td= link_to 'Edit', edit_micropost_path(micropost)
-#       %td= link_to 'Destroy', micropost, :method => :delete, :data => { :confirm => 'Are you sure?' }

-# %br

-# = link_to 'New Micropost', new_micropost_path
