%footer.page__footer
  %ul
    -# %li= link_to 'Terms', terms_path
    -# %li= link_to 'Privacy', privacy_path
    %li Made with love at DBC

  <script src="//cdn.embedly.com/widgets/platform.js"></script>